body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  padding: 2rem;
  font-size: 3rem;
}

#contenedor {
  padding: 0 1rem;
}